<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    <h3 class="formTitle">Create Coupon</h3>

      <form action="/admin/coupons" method="post">
        <p>name: </p>
        <input id="name" name="name" class="userFormItem" type="text"  value = "descriptive name" />
        <p class="formErrorReport" id="nameError"></p>

        <p>description: </p>
        <input id="description" name="description" class="userFormItem" type="text" value = "User-facing explanation of limitations" />
        <p class="formErrorReport" id="descriptionError"></p>

        <p>discount: </p>
        <input id="password" name="discount" class="userFormItem" type="text"  value = "0.20" />
        <p class="formErrorReport" id="sizeError"></p>

        <p>expires_on:</p>
        <input id="expires_on" name="expires_on" class="userFormItem" type="text" value = "Feb-12-2018" />
        <p class="formErrorReport" id="imgError"></p>

        <p>applies_to:</p>
        <input id="img" name="applies_to" class="userFormItem" type="text" value = "order" />
        <p class="formErrorReport" id="imgError"></p>

        <button id="formSubmitter" class="unavailable submit" type="submit"> create coupon </button>
      </form>
      <form class="flex center" action="/" method="get">
        <button class="flex center back" type="submit">
       <img class="icon" src="https://image.flaticon.com/icons/svg/53/53567.svg" />
     </button>

      <p class="formErrorReport">{{ dbError }}</p>
      </form>
      <form action="/admin/home" method="get">
        <button class="no" type="submit">home</button>
      </form>
  </div>
</div>
{{!-- <script src="/behavior/account-action.js"></script> --}}
