
<div class="full-page">
  <h1>Products</h1>
  <p>
     Buy stuff!
  </p>
  <div class= "categoryListWrapper">
    {{#each productContent}}
      {{> productsdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <div class= 'flex column'>
    <form action="/accounts/{{email}}/cart" method="get">
      <button class="yes" type="submit">my products</button>
    </form>
    <form action="/home" method="get">
      <button class="no" type="submit">back</button>
    </form>

  </div>
</div>
{{!-- <script src="/behavior/.js"></script> --}}
<script src="/behavior/search-bar.js"></script>
