<div class="full-page">
  <h1>ADMIN</h1>
  <p>
    Choose an action
  </p>
  <form action="/admin/products">
    <button class="yes">products</button>
  </form>
  <form action="/admin/coupons" method="get">
    <button class="yes">coupons</button>
  </form>
  <form action="/admin/accounts" method="get">
    <button class="yes" type="submit">accounts</button>
  </form>
  <form action="/log-out" method='post'>
    <button class="no">sign out(doesn't work)</button>
  </form>

</div>
