<div class="flex pageWrapper">
  <div class="flex column userWrapper">

    <h1>ADMIN PORTAL</h1>
    <p class="noMarginsPadding">you should know what to do</p>
    <br />
    <br />
    <br />
    <h3 class="formTitle"> login </h3>
    <form action="/admin-auth/authorized" method="post">
      <p>username</p>
      <input id="email" name="email" class="userFormItem" type="text" placeholder="email" value="admin" />
      <p class="formErrorReport" id="emailError"></p>

      <p>password</p>
      <input id="password" name="password" class="userFormItem" type="password" value="password"/>
      <p class="formErrorReport" id="passwordError"></p>

      <button id="formSubmitter" class="unavailable submit" type="submit"> gain access</button>
    </form>

    <p class="noMarginsPassing preInputMimic">{{ message }}</p>
    <p class="formErrorReport">{{ dbError }}</p>
  </div>

</div>
{{!-- <script src="/behavior/login-action.js"></script> --}}
