<h1>{{ title }}</h1>
<h4>Form submitted successfully, you are now logged in as {{ email }}</h4>
<p>
  This is where all the session magic would happen.
</p>

<form action="/to-account-info" method="post">
  <button class="yes">my account</button>
</form>

<form action="/shop">
  <button class="yes">shopping center</button>
</form>

<form action="/to-log-out">
  <button class="no">sign out</button>
</form>
