<div class="full-page">
  <h1>Accounts</h1>
  <p>
    View, create, edit and delete accounts.
  </p>
  <form action="/new-account" method="get">
    <button class="no" type="submit">new account</button>
  </form>
  <div class= "categoryListWrapper">
    {{#each accountContent}}
      {{> admin-accountdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/admin/home" method="get">
    <button class="no" type="submit">home</button>
  </form>

</div>
{{!-- <script src="/behavior/.js"></script> --}}
<script src="/behavior/alarm-display.js"></script>
