<div class="flex product-wrapper">
	<div class="flex product-name-price-wrapper">
		<h3 class="product-title">{{ name }}</h3>
		<h4>{{ price }}</h4>
	</div>

	<div class="flex description-img-wrapper">
		<p class="description-text">{{ description }}</p>
		<img class="organization-img" src="https://d20cm4krv6iwag.cloudfront.net/images/nraorg_logo.png">
	</div>
	<div class="flex product-action-wrapper">
		<form class="flex product-cart-form" action="" type="">
			<div class="flex input-wrapper">
				<p>quantity:</p>
				<input type="text" placeholder="1" maxlength="2">
				<button class="yes">add to cart</button>
			</div>
		</form>
	</div>
</div>
