body {
  border:0;
  margin:0;
}

div {
/*   border: .5px solid lightgrey; */
}

h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family:"Roboto", sans-serif;
}

.mini {
  font-size:10px;
}

.small {
  font-size:12px;
}

.current-selection {
  font-size:10px;
  text-transform:uppercase;
  font-weight:bold;
}

.flex {
  display:flex;
}

.column {
 flex-direction:column;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.pageWrapper {
  width:100vw;
}

.full-page {
  margin:10%;
}

.small-margin {
  margin-bottom:8px;
}

.med-margin {
  margin-bottom:12px;
}

.boxBorder {
  border:1px solid black;
  border-radius: 5px;
}

.padding {
  padding:5px;
}

.userWrapper {
  margin:10px;
  padding:10px;
  width:50vw;
  min-width:300px;
  max-width:450px;
  /*height:50vw;*/
  max-height:700px;
}

.formTitle {
  align-self:center;
}

.userFormItem {
  width:100%;
}

label {
  font-size:10px;
}

button {
  border:1px solid grey;
  margin:4px 0 4px 0;
  border-radius:5px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .1);
  min-width:20%;
  max-width:50%;

  min-height:20px;
  align-self:flex-end;
}

.button-titles {
  align-self:flex-end;
  margin:0px;
  padding:0px;
  margin-bottom:15px;
}

button:hover {
  cursor:pointer;
}

button:active {
  transform: translate(1px, 1px);
}

button:focus {
  outline:0;
}

button.yes {
  background-color:black;
  color:white;
}

button.no {
  background-color:white;
}

button.long-fixed {
  width:200px;
}

button.unavailable {
  background-color:lightgrey;
  border-color:grey;
  color:grey;
  box-shadow:none;
}

button.unavailable:active {
 transform:translate(0px);
}

.icon {
  width:3.5vw;
  height:3.5vw;
  min-height:30px;
  min-width:30px;
  max-height:40px;
  max-width:40px;
}

.back {
  border:0px solid grey;
  margin:0px;
  border-radius:5px;
  box-shadow:none;
  align-self:flex-end;
}

.submit {
  align-self: flex-end;

}

form {
  display: flex;
  flex-direction:column;
}

input {
  border:none;
  border-bottom:2px solid lightgrey;
  color:lightgrey;
  flex-grow:1;
}

input:focus {
  outline:0;
}

input:placeholder-shown {
  color:pink;
}

textarea {
  margin:4px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  border-left:0px;
  border-right:0px;
  border-radius:2px;
}

textarea:focus {
  outline:0;
}

.input-titles {
  align-self:flex-start;

}

::placeholder {
  color:lightgrey;
}

.noMarginsPadding {
  padding:0;
  margin:0;
}

.preInputMimic {
  border:none;
  border-bottom:none;
  color:black;
  font-size: 11px;
}

.inputMimic {
  border:none;
  border-bottom:2px solid green;
  color:green;
  font-size: 11px;
}

.formCompletedSuccess {
  outline:0;
  border-bottom:2px solid black;
  color:black;
}

.formCompletedFailure {
  outline:0;
  border-bottom:2px solid red;
  color:red;
}

.formErrorReport {
  font-size:10px;
  margin:2px 0 0px 0;
  padding:2px 0 0px; 0;
  color:red;
}

.image-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:auto;
  overflow:hidden;
}

.image-wrapper > img {
  width:100%;
}

.title-border-bottom {
  background-color:#639797;
  color:white;
  padding:5px;
  font-weight:100;
  letter-spacing: 2px;
}

.passIndicator {
	width:1%;
	height:4px;
	background-color:grey;
	transition:all 300ms;
}

.blackText {
  color:black;
}

.greenText {
  color: green;
}

.veryWeak {
	width:20%;
	background-color:red;
}

.weak {
	width:40%;
	background-color:red;
}

.reasonable {
	width: 60%;
	background-color:blue;
}

.strong {
	width: 80%;
	background-color:green;
}

.overkill {
	width: 100%;
	background-color:green;
}
.hero-img-wrapper {
  width:100vw;
}

.hero-img {
  width:100%;
}
.login {
  border-radius:5px;
}


/*------------------------------PAYMENT QUICK ADD-----------------------------*/
ul {
 list-style:none;
 border:0;
 margin:0;
 padding:10px;
}


li {
 border-bottom:1px solid lightgrey;
 padding-bottom:2px;
 margin-bottom:2px;
 font-size:11px;
}

li:hover {
 cursor:pointer;
 background-color:lightgrey;
}

.shortField {
 width:40px;
}

.dropdownWrapper {
 border-radius:5px;
 z-index:1;
 max-height:100px;
 overflow: scroll;
}

.expirationSlash {
 padding:0;
 margin:0 10px 0 10px;
 border:0;
}

.expirationWrapper {
  height:60px;
}

input:placeholder-shown {
  color:pink;
}

::placeholder {
 color:lightgrey;
}

.shortField {
 width:40px;
}
/*------------------------------SEARCH BAR-----------------------------*/

.dropdownSearch {
	flex-grow:3;
	margin:5px;
	padding:3px 0 3px 0;
}

.dropdownWrapper {
	margin:5px 5px 15px 5px;
	max-height:100px;
	overflow:scroll;
	border-radius:5px;
  background-color:black;
}

.dropdownItem {
	/*color:white;*/
	margin-bottom:4px;
	/*border-bottom:1px solid #2a3030;*/
  color:floralwhite;
}

.searchButton {
	flex-grow:1;
}

/*------------------------------PRODUCT PAGE-----------------------------*/

.product-wrapper {
	flex-direction:column;
	background-color:gray;
	margin:6vh 0 8vh 0;
	padding:5px;
}

.organization-img {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:12vw;
  height:auto;
  max-height:10vw;
  overflow:hidden;
}

.organization-img > img {
    width:100%;
}

.product-name-price-wrapper {
	justify-content:space-between;
  align-items: center;
	margin-bottom:5px;
	border-radius:5px;
	padding:3px;
 	background-color:black;
	color:white;
}

.product-name-price-wrapper > * {
  padding:0 1vw 0 1vw;
  font-weight:200;
}

.description-img-wrapper {
	justify-content:space-between;
	margin-bottom:10px;
}

.description-text {
	font-size:12px;
	max-height:90px;
	overflow:scroll;
	border-radius:4px;
}

.description-img-wrapper {
	width:100%;
}

.product-action-wrapper {
	width:100%;
   flex-direction: column;
	justify-content:flex-end;
	border-top:1px dotted black;
	margin-bottom:10px;
}

.product-cart-form {
	margin-top:10px;
}

.input-wrapper > p {
	padding-right:10px;
	margin:0;
}
.quantity {
  width:30px;
	margin-right:25px;
  text-align:center;
}
.input-wrapper > button {
   width:100px;
	margin-left:25px;
	margin:0;
}

/*------------------------------SLAPDASH GRAPH FROM BT-----------------------------*/


.column {
  display:flex;
  flex-direction:column;
}

.row {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.box {
  display:flex;
  flex-direction:column;
}


.transparent {
  background-color:transparent;
  color:#2a3030;
  border:1px solid #2a3030;
}

input {
	font-size:12px;
  font-size:12px;
  border-radius:2px;
}

input:focus {
	outline:0;
}

.self-right {
  align-self: right;
}

/*---------------------Category Box--------------------------*/

.categoryListWrapper {
  position:relative;
  background-color: #eaeaea;
  padding:6px;
}

.categoryWrapper {
  align-content:center;
  justify-content:center;
  margin:5px 0 5px 0;
  background-color:lightgrey;
  border-radius: 5px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, .1);
}

.categoryWrapper:hover {
  background-color:grey;
}

.categoryTitle {
  align-content:center;
  align-items:center;
  justify-content:space-between;
  flex:1;
  padding:10px;
  transition: all 200ms;
}

.categoryTitle:hover {
  cursor:pointer;
  color:white;
}

.categoryImgWrapper {
  max-width:100%;
  margin:10px;
  overflow:hidden;
}

.categoryImg {
  max-width:100%;
  width: auto;
  height: auto;
}

.time-wrapper > img {
  width:30px;
  height:30px;
  padding:1vw;
}


.time-wrapper {
  flex-grow: .2;
  align-content:center;
  align-items:center;
}

.time-wrapper > p{
  font-size:24px;
  font-weight:100;
}
/*---------------------Subcategory Box--------------------------*/

.subCategoryWrapper {
  background-color:ivory;
  overflow:hidden;
}

.subCategoryTitle {
  margin:6px;
  padding-top:3px;
  padding-bottom:3px;
  border-bottom:dotted 1px #2a3030;
  transition:all 100ms ease-in-out;
  justify-content: space-around;
}

.subCategoryTitle > img{
  width:20px;
  height:20px;
  padding:1vw;
}

.subCategoryTitle:hover {
  /*border-right: 20px solid #2a3030;*/
  cursor:pointer;
}

.mapCategory {
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.mapSubCategory {
  width:88vw;
  max-width:800px;
  height:35vw;
  max-height:150px;
  border:solid 1px #6ea09f;
  border-radius:5px;
  overflow:hidden;
  background-color:#6ea09f;
}
.mapSubCategory > h6 {
  padding-bottom:5px;
  text-align:center;
  color:white;
}
.mapSubCategory > img {
  width:100%;
}
.mapSubCategory:hover {
  padding-left:0px;
  border-left:1px solid #6ea09f;
}
.date-created {
  font-size:10px;
  margin:0 4vw 0 0;
  justify-content: flex-end;
}


/*--------------------------Add Alarm-------------------------*/

.add-alarm-form {
  margin:10px;
  padding:10px;
}


.add-alarm {
  width:100%;
  justify-content: flex-end;
}

.add-alarm > img {
  width:50px;
  height:50px;
  padding:3vw;
}

/*---------cart-------*/

.last-four-wrapper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:3px;
  border:1px solid black;
  border-radius:4px;
}


/*---------jquery items-------*/

.none {
  display:none;
}

.invisible {
  visibility: hidden;
}

.rotate {
  transform:rotate(45deg);
  transition:all 300ms;
}

/*.red {
  background-color:red;
}*/
