<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <script src="/behavior/jquery.js"></script>
  </head>
  <body>
  {{{ body }}}
  </body>
</html>
