
<div class="full-page">
  <h1>Payment Information</h1>
  <p>
    This is where you can view, add, remove and edit your credit/debit cards
  </p>

  <div class= "categoryListWrapper">
    {{#each paymentContent}}
      {{> paymentdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/accounts/{{email}}/new-payment" method="get">
      <button class="yes"> add card </button>
  </form>
  <form action="/accounts/{{email}}" method="get">
    <button class="no" type="submit">back</button>
  </form>
</div>
<script src="/behavior/alarm-display.js"></script>
