<h1>{{ title }}</h1>
<h4>Form submitted successfully, you are now logged in as {{ email }}</h4>
<p>
  You are now in the body of the app!
</p>

<form action="/in-session/to-manage-account" method="get">
  <button class="yes">my account</button>
</form>

<form action='/to-add-payment' method="get">
  <button class="yes" type="submit"> add payment information </button>
</form>

<form action="/in-session/shop">
  <button class="yes">shopping center</button>
</form>

<form action="/auth/log-out" method='post'>
  <button class="no">sign out</button>
</form>
