<div class="full-page">
  <h1>Alarms</h1>
  <p>
    This is where you can view, add, remove and edit your alarms
  </p>

  <div class= "categoryListWrapper">
    {{#each alarmContent}}
      {{> alarmdiv}}
    {{/each}}
  </div>
    <form action="/in-session/add-alarm" method="get">
        <button class="yes"> add alarm </button>
    </form>
</div>
<script src="/behavior/menu-shuffle.js"></script>
