<div class="full-page">
  <h1>Contact</h1>

  <form action="/accounts/{{email}}/alarms" method="get">
    <p class='input-titles'>
      Return email
    </p>
    <input type='text' value="email">
    <p class='input-titles'>
      Message Body
    </p>
    <textarea rows="10">Say what you need to say!</textarea>
    <button class="yes">send message</button>
    <p class = 'button-titles mini'>
      Add, update and delete your alarms
    </p>
  </form>

  <form action="/home" method='get'>
    <button class="no">home</button>
  </form>

</div>
