<div class="flex pageWrapper">
  <div class="flex column userWrapper">
   <h3 class="formTitle">password reset</h3>
   {{# if mailNotSent}}
    <form action=/auth/mailer method="post">
      <p>email</p>
      <input
       id="email"
       name="email"
       class="userFormItem"
       type="text"
       placeholder="email"
       />
      <p class="formErrorReport" id="emailError"></p>
      <button id="formSubmitter" class="unavailable submit" type="submit"> send mail </button>
    </form>
    {{/if}}
    <p>
      {{ message }}
    </p>
    <p class="formErrorReport">{{ dbError }}</p>
  </div>
</div>
<script src="/behavior/genericChangeForm.js"></script>
