<div class="full-page">
  <h1>ERROR.</h1>

  <h5>
    {{ errName }}
  </h5>
  <p>
    {{ errMessage }}
  </p>
  <p>
    Sorry for the hangup! You can use the home button below to try again.
  </p>
  <form action='/home' method='get'>
    <button class='no'> go back home </button>
  </form>
</div>
