<h1>{{ title }}</h1>

<p>
  {{ subtitle }}!
</p>
<form action="/account/to-create" method="get">
  <button class="yes">create account</button>
</form>

<form action="/auth/to-login" method="get">
  <button class="no">log in</button>
</form>

<form action="/nothere" method="get">
  <button class="no">no page</button>
</form>

<form action="/ref-error" method="get">
  <button class="no">reference error</button>
</form>

{{ dbError }}
