<h1>{{ title }}</h1>

<p>
  {{ subtitle }}!
</p>
<form action="/to_sign_up">
  <button class="yes">sign up</button>
</form>

<form action="/to_login" method="get">
  <button class="no">log in</button>
</form>
