<div class="full-page">
  <h1>{{ title }}</h1>
  <p>
    {{ subtitle }}!
  </p>

  <form action="/alarms" method="get">
    <button class="yes">alarms</button>
  </form>

  <form action="/account/to-create" method="get">
    <button class="yes">create account</button>
  </form>

  <form action="/auth/to-login" method="get">
    <button class="no">log in</button>
  </form>

  {{ dbError }}



</div>
