<div class="flex pageWrapper">
  <div class="flex column userWrapper">


    {{#if forgotPassword }}
      <h3 class="formTitle">forgot password</h3>
      <form action="/forgot-password/authorized" method="post">
        <p>email</p>
        <input id="email" name="email" class="userFormItem" type="text" placeholder="email" />
        <p class="formErrorReport" id="emailError"></p>
        <button id="formSubmitter" class="unavailable submit" type="submit"> send mail </button>
      </form>


    {{ else }}
      <h1>A Budding Alarm App</h1>
      <p class="noMarginsPadding">things will be more RESTful soon, promise ;)</p>
      <br />
      <br />
      <br />
      <h3 class="formTitle"> login </h3>
      <form action="/authorized" method="post">
        <p>email</p>
        <input id="email" name="email" class="userFormItem" type="text" placeholder="email" value="b@b.bb" />
        <p class="formErrorReport" id="emailError"></p>

        <p>password</p>
        <input id="password" name="password" class="userFormItem" type="password" value="bbbBB11$$" />
        <p class="formErrorReport" id="passwordError"></p>

        <button id="formSubmitter" class="unavailable submit" type="submit"> log in </button>
      </form>


      <form action="/test-route" method="get">
        <p>email</p>
        <input id="email" name="email" class="userFormItem" type="text" placeholder="email" value="b@b.bb" />
        <p class="formErrorReport" id="emailError"></p>

        <button id="formSubmitter" class="unavailable submit" type="submit"> test </button>
      </form>


      <form action="/new-account" method="get">
        <button class="yes" type="submit">create account</button>
      </form>
      <form action="/forgot-password" method="get">
        <button class="no" type="submit">forgot password</button>
      </form>
    {{/if }}

    <p class="noMarginsPassing preInputMimic">{{ message }}</p>
    <p class="formErrorReport">{{ dbError }}</p>
  </div>

</div>
{{!-- <script src="/behavior/login-action.js"></script> --}}
