<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    {{#if accountDelete }}
    <h3 class="formTitle"> delete account</h3>
      <form action="/auth/delete" method="post">
        <p>email</p>
        <input
         id="email"
         name="email"
         class="userFormItem"
         type="text"
         placeholder="email"
         value="a@a.aa"/>
        <p class="formErrorReport" id="emailError"></p>

        <p>password</p>
        <input
         id="passwordLogin"
         name="password"
         class="userFormItem"
         type="password"
         value="a"
         />
        <p class="formErrorReport" id="passwordError"></p>
       <p>
         This is your last chance do keep your account. Deletion cannot be undone.
       </p>
       <button id="formSubmitter" class="unavailable submit" type="submit"> delete </button>
     </form>
      <form action="/forgot-password" method="post">
        <button class="no" type="submit"> forgot password </button>
      </form>
    {{ else }}
     <h3 class="formTitle"> login </h3>
     <form action="/auth/login" method="post">
       <p>email</p>
       <input
        id="email"
        name="email"
        class="userFormItem"
        type="text"
        placeholder="email"
        value="a@a.aa"/>
       <p class="formErrorReport" id="emailError"></p>

       <p>password</p>
       <input
        id="passwordLogin"
        name="password"
        class="userFormItem"
        type="password"
        value="a"
        />
       <p class="formErrorReport" id="passwordError"></p>

      <button id="formSubmitter" class="unavailable submit" type="submit"> log in </button>
    </form>
     <form action="/forgot-password" method="post">
       <button class="no" type="submit"> forgot password </button>
     </form>
     <p class="formErrorReport">{{ dbError }}</p>
     {{/if }}
  </div>
 </div>
 <!-- <script src="/behavior/formAction.js"></script> -->
