<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    {{#if accountDelete }}
    <h3 class="formTitle">delete account</h3>
      <form action="/auth/delete" method="post">
        <p>email</p>
        <input
         id="email"
         name="email"
         class="userFormItem"
         type="text"
         placeholder="email"
         />
        <p class="formErrorReport" id="emailError"></p>

        <p>password</p>
        <input
         id="password"
         name="password"
         class="userFormItem"
         type="password"

         />
        <p class="formErrorReport" id="passwordError"></p>
       <p>
         This is your last chance do keep your account. Deletion cannot be undone.
       </p>
       <button id="formSubmitter" class="unavailable submit" type="submit"> delete </button>
     </form>
    {{ else }}
     <h3 class="formTitle"> login </h3>
     <form action="/auth/login" method="post">
       <p>
         {{ subtitle }}
       </p>
       <p>email</p>
       <input
        id="email"
        name="email"
        class="userFormItem"
        type="text"
        placeholder="email"
        value="newbiem@mailinator.com"/>
       <p class="formErrorReport" id="emailError"></p>

       <p>password</p>
       <input
        id="password"
        name="password"
        class="userFormItem"
        type="password"
        value="newbieN1$"
        />
       <p class="formErrorReport" id="passwordError"></p>

      <button id="formSubmitter" class="unavailable submit" type="submit"> log in </button>
    </form>
     <form action="/auth/mailer" method="post">
       <button class="no" type="submit"> forgot password </button>
     </form>
     <p class="formErrorReport">{{ dbError }}</p>
     {{/if }}
  </div>
 </div>
<script src="/behavior/loginAction.js"></script>
