
<div class="full-page">
  <h1>Payment Information</h1>
  <p>
    <b>current card: </b> {{activeCard}}
  </p>
  <p>
    which card would you like to use?
  </p>
  <div class= "categoryListWrapper">
    {{#each paymentContent}}
      {{> payment-selectdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/accounts/{{email}}/cart" method="get">
    <button class="no" type="submit">back</button>
  </form>
</div>
<script src="/behavior/alarm-display.js"></script>
