<div class='flex column pageWrapper center'>
  <div class="flex column userWrapper">
    <h1>Snooze you Lose</h1>
    <p class="noMarginsPadding">or how sleeping in really hurts your bottom line</p>
  </div>
  <div class = "flex column hero-img-wrapper">
     <img class='hero-img' src= "/other-imgs/splash-page-hero.jpg" />
  </div>
  <div class="flex column userWrapper">
    <h3>create account</h3>

    <form action="/new-account" method="get">
      <button class="yes" type="submit">create account</button>
    </form>
    <form action="/" method="get">
      <button class="no" type="submit">login</button>
    </form>
    <h3>how it works</h3>
    <p>
      You choose an organization and an amount of money, and every time you sleep in, you donate to that organization. You are putting a price on the snooze.
    </p>
    <p>
      You can send the money to a group that you like, or for added incentive, to an organization you hate. Maybe knowing that you money will go to the opposing political party or the flat earth society will finally get you out of bed!
    </p>
  </div>
</div>
