<div class = 'full-page'>
  <h1>Order sent!</h1>
  <p>
    Check {{email}} for invoice.
  </p>
  <form action="/home" method="get">
    <button class="no " type="submit"> home </button>
  </form>
  <form action="/products" method="get">
    <button class="no " type="submit"> shop more </button>
  </form>
</div>
