<div class="full-page">
  <div class="flex column add-alarm-form">
    <h3 class="formTitle">add alarm</h3>
    <form action="/accounts/{{email}}/alarms" method="post">
      <p>alarm title</p>
      <input
       id="title"
       name="title"
       class="userFormItem"
       type="text"
       placeholder="work week"
       />
      <p class="formErrorReport" id="titleError"></p>

      <p>time</p>
      <input
       id="awake"
       name="time"
       class="userFormItem"
       type="text"
       placeholder="6:00"
       />
      <p class="formErrorReport" id="timeError"></p>
     <button id="formSubmitter" class="unavailable submit" type="submit"> add </button>
   </form>
   <form action="/accounts/{{email}}/alarms" method="get">
     <button class="no" type="submit">back</button>
   </form>
  <p class="formErrorReport">{{ dbError }}</p>
  </div>
</div>
<script src="/behavior/alarm-action.js"></script>
