<div class = 'full-page'>
  <h1>Nothing in cart!</h1>
  <form action="/accounts/{{email}}/cart" method="get">
    <button class="no " type="submit"> back to cart</button>
  </form>
  <form action="/products" method="get">
    <button class="no" type="submit"> shop more </button>
  </form>
</div>
