<h1>Sorry, something went wrong</h1>
<p>
  Please enjoy this back button to flee from these technical details.
</p>
<form action='/auth/log-out' method='post'>
  <button class='no'> go back home </button>
</form>
<p>
  Otherwise, here's some information about what may have gone wrong for the less faint of heart.
</p>
<p>
  {{ dbError }}
</p>
<p>
  {{ err }}
</p>
