<div class="full-page">
  <h1>Products</h1>
  <p>
    View, create, edit and delete products.
  </p>
  <form action="/admin/new-product" method="get">
    <button class="no" type="submit">new account</button>
  </form>
  <div class= "categoryListWrapper">
    {{#each productContent}}
      {{> admin-productdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/admin/home" method="get">
    <button class="no" type="submit">home</button>
  </form>

</div>
{{!-- <script src="/behavior/.js"></script> --}}
