<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    <h3 class="formTitle">Create Product</h3>

      <form action="/admin/products" method="post">
        <p>product_id</p>
        <input id="product_id" name="product_id" class="userFormItem" type="text" placeholder="AAAA-A-AAAA-1111" value="AAAA-A-AAAA-1111" />
        <p class="formErrorReport" id="product_idError"></p>

        <p>universal_id</p>
        <input id="universal_id" name="universal_id" class="userFormItem numericOnly" type="text" placeholder="123412341234" value="123412341234" />
        <p class="formErrorReport" id="universal_idError"></p>

        <p>price</p>
        <input id="password" name="price" class="userFormItem" type="text" placeholder="two sig figs" value = "100.00" />
        <p class="formErrorReport" id="priceError"></p>

        <p>name</p>
        <input id="name" name="name" class="userFormItem" type="text" placeholder="user-facing name" value = "test" />
        <p class="formErrorReport" id="nameError"></p>

        <p>description</p>
        <input id="description" name="description" class="userFormItem" type="text" placeholder="this is a cool product" value = "this is a test" />
        <p class="formErrorReport" id="descriptionError"></p>

        <p>size</p>
        <input id="password" name="size" class="userFormItem" type="text" placeholder="small" value = "s" />
        <p class="formErrorReport" id="sizeError"></p>

        <p>img</p>
        <input id="img" name="img" class="userFormItem" type="text" placeholder="img.jpg" value = "img.img" />
        <p class="formErrorReport" id="imgError"></p>

        <button id="formSubmitter" class="unavailable submit" type="submit"> create product </button>
      </form>
      <form class="flex center" action="/" method="get">
        <button class="flex center back" type="submit">
       <img class="icon" src="https://image.flaticon.com/icons/svg/53/53567.svg" />
     </button>

      <p class="formErrorReport">{{ dbError }}</p>
      </form>
      <form action="/admin/home" method="get">
        <button class="no" type="submit">home</button>
      </form>
  </div>
</div>
{{!-- <script src="/behavior/account-action.js"></script> --}}
